@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.FootCol {
  @apply flex flex-col text-left ml-16
}

.FootLink {
  @apply text-white font-semibold mb-1 transition-shadow w-full
}

.ContactLink {
  @apply text-black font-semibold w-full text-xl
}

.NavItem {
  @apply text-white font-semibold text-lg rounded-xl m-auto px-3 py-2 hover:bg-blue-500 hover:shadow-lg
}